.navbar-brand {
    background-color: teal;
    color: white;
    margin: 0px;
    padding: 15px 10px 15px 10px;
}

h1 {
    font-size: 25px;
    color: teal;
}

.container {
    background-color: white;
    margin: 25px;
    padding: 25px;
}

img {
    float: left;
    margin-right: 10px;
}

.navbar {
    background-color: white;
    font-size: 13px;
    color: lightgray;
    padding: 0px 20px 0px 20px;
}

body {
    background-color: lightgrey;
    margin-bottom: 0px;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: lightgrey;
    background-color: grey;
    border-style: solid;
    border-color: teal;
    border-width: 5px 0px 0px 0px;
    padding: 10px;
    height: 50px;
    margin-bottom: 0px;
}